extends layout

block append scripts
	script(src='/js/todo.js',type='text/javascript')

block content
	h1 Todo
	div(ng-controller="TodoCtrl")
		p
			| Still pending: {{todos.length}}

		table.table.table-striped: tbody
			tr(ng-repeat='todo in todos', ng-class='{success: todo.done}')
				td(width='10px')
					input(type='checkbox', ng-model='todo.done')
				td
					span {{todo.text}}

		button.btn.btn-danger.pull-right(ng-click='clearCompleted()', ng-disabled='noMoreDone()')
			i.icon-trash.icon-white

		form.form-inline(ng-submit='addTodo()')
			.control-group
				.controls
					.input-append
						input.input-medium(type="text", ng-model="formTodoText", placeholder="add new todo here")
						button.btn.btn-success(type="submit")
							i.icon-plus