!!! 5
html(ng-app='#{locals.app_name}')
	head
		block stylesheets
			link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css',rel='stylesheet')

		block scripts
			script(src='http://code.angularjs.org/1.1.2/angular.min.js',type='text/javascript')

	body
		.container: .row: .span4.offset4
			block content